
a {
    color: white;
}

.main-head {
    grid-area: header;
    background-color: #007BFF;
    border: solid white;
    color: white;
  }

  .content {
    grid-area: content;
    background-color: #007BFF;
    border: solid white;
    color: white;
  }

  .side {
    grid-area: sidebar;
    background-color: #007BFF;
    border: solid white;
    color: white;
  }

  .main-footer {
    grid-area: footer;
    background-color: #007BFF;
    border: solid white;
    color: white;
  }

  .wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "header"
      "content"
      "sidebar"
      "footer";
  }

  @media only screen and (min-width: 700px) {
    .wrapper {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas:
        "header   header  header"
        "content  content sidebar"
        "content  content sidebar"
        "footer   footer  footer"
     }
  }