
a {
    color: white;
}

.main-head {
    grid-area: header;
    background-color: #007BFF;
    border: solid white;
    color: white;
  }

  .content {
    grid-area: content;
    background-color: #007BFF;
    border: solid white;
    color: white;
  }

  .side {
    grid-area: sidebar;
    background-color: #007BFF;
    border: solid white;
    color: white;
    overflow: scroll;
    height: 520px;
  }

  .wrapper {
    display: grid;
    /* gap: 20px; */
    grid-template-areas:
      "header"
      "content"
      "sidebar"
      "footer";
  }

  @media only screen and (min-width: 700px) {
    .wrapper {
      grid-template-columns: 80% 15%;
      justify-content: right;
      grid-template-areas:
        "header   header"
        "content  sidebar"
        "content  sidebar"
        "footer   footer" 
     }
  }