.grid-container{
    display: grid;
    grid-template-columns: 50% 35%;
    grid-gap: 20px;
    justify-content: center;
    grid-template-areas:
    "header header"
     "content sidebar"
     "footer footer";
}

.header{
    grid-area: header;
    background-color: aqua;
}

.dash-col-1{
    grid-area: content;
}

.welcome{
    border:solid
}

.floorplan{
  height: auto;
  width: 100%;
  border: solid;
  margin-top: 20px;
}

.table{
grid-area: sidebar;
border: solid;
overflow: scroll;
height: 520px;
}

.main-footer {
  grid-area: footer;
  background-color: #007BFF;
  border: solid white;
  color: white;
}



@media only screen and (max-width: 500px) {
    .grid-container {
      grid-template-columns: 1fr 3fr;
      grid-template-areas:
        "header  header"
        "content content"
        "sidebar sidebar"
        "footer footer";
    }
   
  }

  @media only screen and (max-width: 700px) {
    .grid-container {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas:
        "header header  header"
        "content content content"
        "sidebar sidebar sidebar"
        "footer footer footer"
     }
    }